---
pagination:
  enabled: true
  sort_field: "date"
  sort_reverse: true
---

<div class="main-content index-home-page clearfix">
  <div class="post-lists">
    <div class="post-lists-body">
      {% for posts in paginator.posts %}
      <div class="post-list-item">
        <div class="post-list-item-container">
          <div
            class="item-thumb  bg-{{posts.background }}"
            style="background-image:url('{{posts.background-image }}');"
          ></div>
          <a href="{{ posts.url }}">
            <div class="item-desc">
              <p>
                {{ posts.content | strip_html | strip_newlines | truncate: 100
                }}
              </p>
            </div>
          </a>
          <div
            class="item-slant reverse-slant  bg-{{ posts.background }}"
          ></div>
          <div class="item-slant">
            <div class="liberxue-title">원본</div>
          </div>
          <div class="item-label">
            <div class="item-title">
              <a href="{{ posts.url }}" title="{{ posts.title }}"
                >{{ posts.title }}</a
              >
            </div>
            <div class="item-meta clearfix">
              <div
                class="item-meta-ico bg-ico-book"
                style="
                  background: url('style/images/bg-ico.png') no-repeat;
                  background-size: 40px auto;
                "
              ></div>
              <!-- <div class="item-meta-cat">
								<a href="/tags#{{ posts.category }}" title="{{ posts.category }}"
									data-hover="{{ posts.category }}">{{ posts.category }}</a>
								<a href="/archives#{{ posts.date | date: "%Y"}}" title="{{ posts.date | date: "%Y"}}"
									data-hover="{{ posts.date | date: "%F %H:%M"}}">{{ posts.date | date: "%F %H:%M"}}</a>
							</div> -->
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include pagination.html %}
</div>
