<div class="lists-navigator clearfix">
  {% assign first_page_path = paginator.first_page_path | default: site.paginate_path | replace: 'page:num', '' |
  replace: '//', '/' | relative_url %}
  <ol class="page-navigator">
    {% comment %} Link for previous page {% endcomment %}
    {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <li><a href="{{ first_page_path }}">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous"
      }}</a></li>
    {% else %}
    <li><a
      href="{{ site.paginate_path | replace: ':num', paginator.previous_page | replace: '//', '/' | relative_url }}">{{
      site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</a></li>
    {% endif %}
    {% else %}
    <li class="disabled"><a href="#"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_previous | default: "Previous" }}</span></a>
    </li>
    {% endif %}

    {% comment %} First page {% endcomment %}
    {% if paginator.page == 1 %}
    <li class="current"><a href="#" >1</a></li>
    {% else %}
    <li><a href="{{ first_page_path }}">1</a></li>
    {% endif %}

    {% assign page_start = 2 %}
    {% if paginator.page > 4 %}
    {% assign page_start = paginator.page | minus: 2 %}
    {% comment %} Ellipsis for truncated links {% endcomment %}
    <li class="disabled"><a href="#" >&hellip;</a></li>
    {% endif %}

    {% assign page_end = paginator.total_pages | minus: 1 %}
    {% assign pages_to_end = paginator.total_pages | minus: paginator.page %}
    {% if pages_to_end > 4 %}
    {% assign page_end = paginator.page | plus: 2 %}
    {% endif %}

    {% for index in (page_start..page_end) %}
    {% if index == paginator.page %}
    <li class="current"><a href="{{ site.paginate_path | replace: ':num', index | replace: '//', '/' | relative_url }}">{{ index }}</a></li>
    {% else %}
    {% comment %} Distance from current page and this link {% endcomment %}
    {% assign dist = paginator.page | minus: index %}
    {% if dist < 0 %}
    {% comment %} Distance must be a positive value {% endcomment %}
    {% assign dist = 0 | minus: dist %}
    {% endif %}
    <li><a href="{{ site.paginate_path | replace: ':num', index | relative_url }}">{{ index }}</a></li>
    {% endif %}
    {% endfor %}

    {% comment %} Ellipsis for truncated links {% endcomment %}
    {% if pages_to_end > 3 %}
    <li class="disabled"><a href="#">&hellip;</a></li>
    {% endif %}

    {% if paginator.page == paginator.total_pages %}
    <li class="current"><a href="#" >{{ paginator.page }}</a></li>
    {% else %}
    <li><a href="{{ site.paginate_path | replace: ':num', paginator.total_pages | replace: '//', '/' | relative_url }}">{{
      paginator.total_pages }}</a></li>
    {% endif %}

    {% comment %} Link next page {% endcomment %}
    {% if paginator.next_page %}
    <li><a href="{{ site.paginate_path | replace: ':num', paginator.next_page | replace: '//', '/' | relative_url }}">{{
      site.data.ui-text[site.locale].pagination_next | default: "Next" }}</a></li>
    {% else %}
    <li class="disabled"><a href="#"><span aria-hidden="true">{{ site.data.ui-text[site.locale].pagination_next | default: "Next" }}</span></a>
    </li>
    {% endif %}
  </ol>
</div>

<!--<div class="lists-navigator clearfix">-->

<!--  {% assign back_url = "page" | append: paginator.page %}-->
<!--  {% assign pre_url = paginator.page_path | remove: "/index.html" | remove: back_url %}-->
<!--  <ol class="page-navigator">-->
<!--    {% if paginator.page == 1 %}-->
<!--    <li>-->
<!--      {{site.data}}-->
<!--      {% else %}-->
<!--    <li class="current">-->
<!--      {% endif %}-->
<!--      <a href="/" data-hover="처음">-->
<!--        <span>처음</span>-->
<!--      </a>-->
<!--    </li>-->

<!--    <li class="current">-->
<!--      {% if paginator.page == 1 %}-->
<!--      <span>&laquo;</span>-->
<!--      {% else %}-->
<!--      {% if paginator.previous_page == 1 %}-->
<!--      <a href="/">-->
<!--        {% else %}-->
<!--        <a href="{{paginator.previous_page_path }}">-->
<!--          {% endif %}-->
<!--          <span>&laquo;</span>-->
<!--        </a>-->
<!--        {% endif %}-->
<!--      </a>-->
<!--    </li>-->
<!--    {{ url }}-->
<!--    {% for i in (1..paginator.total_pages) limit: 9 offset: {{paginator.page-1}} %}-->
<!--    {% if paginator.page == i %}-->
<!--    <li class="current">-->
<!--      {% else %}-->
<!--    <li>-->
<!--      {% endif %}-->
<!--      {% if i == 1 %}-->
<!--      <a href="{{site.url}}/{{pre_url}}" data-hover="{{i}}">{{ i }}</a>-->
<!--      {% else %}-->
<!--      <a href="{{site.url}}/{{pre_url}}/page{{i}}" data-hover="{{i}}">{{ i }}</a>-->
<!--      {% endif %}-->
<!--    </li>-->
<!--    {% endfor %}-->
<!--    <li class="current">-->
<!--      &lt;!&ndash; 페이지 끝 화살표 부분&ndash;&gt;-->
<!--      {% if paginator.page == paginator.total_pages %}-->
<!--      <span>&raquo;</span>-->
<!--      {% else %}-->
<!--      <a href="{{paginator.next_page_path }}" data-hover="&raquo;">-->
<!--        <span>&raquo;</span>-->
<!--      </a>-->
<!--      {% endif %}-->
<!--    </li>-->
<!--    {% if paginator.page == paginator.total_pages %}-->
<!--    <li>-->
<!--      <span>마지막</span>-->
<!--      {% else %}-->
<!--    <li class="current">-->
<!--      <a href="{{site.url}}/{{pre_url}}/page{{paginator.total_pages}}" data-hover="마지막">-->
<!--        <span>마지막</span>-->
<!--      </a>-->
<!--      {% endif %}-->
<!--    </li>-->
<!--    <br />-->
<!--    <li class="current">-->
<!--      <span>현재 {{ paginator.page }} / 총 {{ paginator.total_pages }} 페이지</span>-->
<!--    </li>-->
<!--  </ol>-->
<!--</div>-->